@import "scrollbar.sass"

body
	background: url(nasty-fabric.png)
	font-family: Cantarell
	margin: 0
	user-select: none

.particles
	height: 100vh
	left: 0
	overflow: hidden
	position: absolute
	top: 0
	width: 100vw
	z-index: -1
